.scientist-image-placeholder {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0fdfa;
  border: 4px solid var(--primary);
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--primary);
  font-size: 5rem;
  overflow: hidden;
}

.scientist-card {
  border-bottom: 4px solid var(--primary);
}

.scientist-card-actions {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  width: 100%;
  gap: 32px;
  z-index: 2;
}
